
CONFIG VCCAUX = "3.3" ;

NET "clock" LOC = "J16"  | IOSTANDARD = LVTTL;
NET "clock" TNM_NET = "clock" ;
TIMESPEC "TS_clock" = PERIOD "clock" 20000 ps INPUT_JITTER 200 ps;

# FTDI FT2232-chB used as USB UART
NET "rxd" LOC = "B15"  | IOSTANDARD = LVTTL | PULLUP;
NET "txd" LOC = "B16"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;

NET "LED[0]" LOC = "N16" | IOSTANDARD = LVTTL;
NET "LED[1]" LOC = "N14" | IOSTANDARD = LVTTL;
NET "LED[2]" LOC = "M14" | IOSTANDARD = LVTTL;
NET "LED[3]" LOC = "M13" | IOSTANDARD = LVTTL;
NET "LED[4]" LOC = "L12" | IOSTANDARD = LVTTL;
NET "LED[5]" LOC = "L13" | IOSTANDARD = LVTTL;
NET "LED[6]" LOC = "L14" | IOSTANDARD = LVTTL;
NET "LED[7]" LOC = "L16" | IOSTANDARD = LVTTL;

# SRAM
NET "SRAM_CE0"     LOC = "H4" | IOSTANDARD=LVCMOS33; #active low
NET "SRAM_CE1"     LOC = "J4" | IOSTANDARD=LVCMOS33; #active low
NET "SRAM_WE"      LOC = "J1" | IOSTANDARD=LVCMOS33; #active low
NET "SRAM_OE"      LOC = "B6" | IOSTANDARD=LVCMOS33; #active low
NET "SRAM_BE[0]"   LOC = "B3" | IOSTANDARD=LVCMOS33; #active low
NET "SRAM_BE[1]"   LOC = "C3" | IOSTANDARD=LVCMOS33; #active low
NET "SRAM_BE[2]"   LOC = "R1" | IOSTANDARD=LVCMOS33; #active low
NET "SRAM_BE[3]"   LOC = "R2" | IOSTANDARD=LVCMOS33; #active low
NET "SRAM_ADR[0]"  LOC = "E3" | IOSTANDARD=LVCMOS33;
NET "SRAM_ADR[1]"  LOC = "E4" | IOSTANDARD=LVCMOS33;
NET "SRAM_ADR[2]"  LOC = "F3" | IOSTANDARD=LVCMOS33;
NET "SRAM_ADR[3]"  LOC = "F4" | IOSTANDARD=LVCMOS33;
NET "SRAM_ADR[4]"  LOC = "H3" | IOSTANDARD=LVCMOS33;
NET "SRAM_ADR[5]"  LOC = "J3" | IOSTANDARD=LVCMOS33;
NET "SRAM_ADR[6]"  LOC = "L4" | IOSTANDARD=LVCMOS33;
NET "SRAM_ADR[7]"  LOC = "L5" | IOSTANDARD=LVCMOS33;
NET "SRAM_ADR[8]"  LOC = "K1" | IOSTANDARD=LVCMOS33;
NET "SRAM_ADR[9]"  LOC = "K2" | IOSTANDARD=LVCMOS33;
NET "SRAM_ADR[10]" LOC = "D5" | IOSTANDARD=LVCMOS33;
NET "SRAM_ADR[11]" LOC = "C5" | IOSTANDARD=LVCMOS33;
NET "SRAM_ADR[12]" LOC = "A4" | IOSTANDARD=LVCMOS33;
NET "SRAM_ADR[13]" LOC = "B5" | IOSTANDARD=LVCMOS33;
NET "SRAM_ADR[14]" LOC = "A5" | IOSTANDARD=LVCMOS33;
NET "SRAM_ADR[15]" LOC = "A6" | IOSTANDARD=LVCMOS33;
NET "SRAM_ADR[16]" LOC = "C7" | IOSTANDARD=LVCMOS33;
NET "SRAM_ADR[17]" LOC = "A7" | IOSTANDARD=LVCMOS33;
NET "SRAM_ADR[18]" LOC = "D6" | IOSTANDARD=LVCMOS33; # only used on 2MB boards
NET "SRAM_DAT[0]"  LOC = "E1" | IOSTANDARD=LVCMOS33;
NET "SRAM_DAT[1]"  LOC = "E2" | IOSTANDARD=LVCMOS33;
NET "SRAM_DAT[2]"  LOC = "F1" | IOSTANDARD=LVCMOS33;
NET "SRAM_DAT[3]"  LOC = "F2" | IOSTANDARD=LVCMOS33;
NET "SRAM_DAT[4]"  LOC = "G1" | IOSTANDARD=LVCMOS33;
NET "SRAM_DAT[5]"  LOC = "G3" | IOSTANDARD=LVCMOS33;
NET "SRAM_DAT[6]"  LOC = "H1" | IOSTANDARD=LVCMOS33;
NET "SRAM_DAT[7]"  LOC = "H2" | IOSTANDARD=LVCMOS33;
NET "SRAM_DAT[8]"  LOC = "A3" | IOSTANDARD=LVCMOS33;
NET "SRAM_DAT[9]"  LOC = "A2" | IOSTANDARD=LVCMOS33;
NET "SRAM_DAT[10]" LOC = "B1" | IOSTANDARD=LVCMOS33;
NET "SRAM_DAT[11]" LOC = "B2" | IOSTANDARD=LVCMOS33;
NET "SRAM_DAT[12]" LOC = "C1" | IOSTANDARD=LVCMOS33;
NET "SRAM_DAT[13]" LOC = "C2" | IOSTANDARD=LVCMOS33;
NET "SRAM_DAT[14]" LOC = "D1" | IOSTANDARD=LVCMOS33;
NET "SRAM_DAT[15]" LOC = "D3" | IOSTANDARD=LVCMOS33;
NET "SRAM_DAT[16]" LOC = "P4" | IOSTANDARD=LVCMOS33;
NET "SRAM_DAT[17]" LOC = "T4" | IOSTANDARD=LVCMOS33;
NET "SRAM_DAT[18]" LOC = "R5" | IOSTANDARD=LVCMOS33;
NET "SRAM_DAT[19]" LOC = "T5" | IOSTANDARD=LVCMOS33;
NET "SRAM_DAT[20]" LOC = "P6" | IOSTANDARD=LVCMOS33;
NET "SRAM_DAT[21]" LOC = "T6" | IOSTANDARD=LVCMOS33;
NET "SRAM_DAT[22]" LOC = "R7" | IOSTANDARD=LVCMOS33;
NET "SRAM_DAT[23]" LOC = "T7" | IOSTANDARD=LVCMOS33;
NET "SRAM_DAT[24]" LOC = "L1" | IOSTANDARD=LVCMOS33;
NET "SRAM_DAT[25]" LOC = "L3" | IOSTANDARD=LVCMOS33;
NET "SRAM_DAT[26]" LOC = "M1" | IOSTANDARD=LVCMOS33;
NET "SRAM_DAT[27]" LOC = "M2" | IOSTANDARD=LVCMOS33;
NET "SRAM_DAT[28]" LOC = "N1" | IOSTANDARD=LVCMOS33;
NET "SRAM_DAT[29]" LOC = "N3" | IOSTANDARD=LVCMOS33;
NET "SRAM_DAT[30]" LOC = "P1" | IOSTANDARD=LVCMOS33;
NET "SRAM_DAT[31]" LOC = "P2" | IOSTANDARD=LVCMOS33;

# I/O interfaces
# TMS99105 shield pin assignment for Pepino
#NET "ALATCH" 	 IOSTANDARD = LVCMOS33 | PULLDOWN  | LOC=A14;
#NET "BUS_OE_n"  IOSTANDARD = LVCMOS33 | PULLDOWN  | LOC=D8;
#NET "CTRL_RD_n" IOSTANDARD = LVCMOS33 | PULLDOWN | LOC=F9;
#NET "RD_n" 		 IOSTANDARD = LVCMOS33 | PULLDOWN  | LOC=C10;
#NET "CTRL_CP" 	 IOSTANDARD = LVCMOS33 | PULLDOWN  | LOC=D9;
#NET "BUSDIR" 	 IOSTANDARD = LVCMOS33 | PULLDOWN  | LOC=C8;

# external Clock	-> ALATCH
#NET "ALATCH" IOSTANDARD = LVCMOS33 | PULLDOWN;
#NET "ALATCH" LOC = C10;
# NET "MEM_n" IOSTANDARD = LVCMOS33 | PULLDOWN;
# NET "MEM_n" LOC = A14;

# DIR low = input
#NET "ch1_dir" LOC = D9 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
#NET "ch2_dir" LOC = C8 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;

# EN active low
#NET "ch1_en" LOC = D8 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
#NET "ch2_en" LOC = F9 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;

# indata[0-15]
# NET "indata[0]" IOSTANDARD = LVCMOS33 | PULLDOWN;
# NET "indata[0]" SLEW = FAST;
# NET "indata[0]" DRIVE = 8;
# NET "indata[0]" LOC = N5; # IO1P
# NET "indata[1]" IOSTANDARD = LVCMOS33 | PULLDOWN;
# NET "indata[1]" SLEW = FAST;
# NET "indata[1]" DRIVE = 8;
# NET "indata[1]" LOC = M6; # IO2P
# NET "indata[2]" IOSTANDARD = LVCMOS33 | PULLDOWN;
# NET "indata[2]" SLEW = FAST;
# NET "indata[2]" DRIVE = 8;
# NET "indata[2]" LOC = P7; # IO3P
# NET "indata[3]" IOSTANDARD = LVCMOS33 | PULLDOWN;
# NET "indata[3]" SLEW = FAST;
# NET "indata[3]" DRIVE = 8;
#NET "indata[3]" LOC = P8;
#NET "indata[4]" IOSTANDARD = LVCMOS33 | PULLDOWN;
#NET "indata[4]" SLEW = FAST;
#NET "indata[4]" DRIVE = 8;
#NET "indata[4]" LOC = R9;
#NET "indata[5]" IOSTANDARD = LVCMOS33 | PULLDOWN;
#NET "indata[5]" SLEW = FAST;
#NET "indata[5]" DRIVE = 8;
#NET "indata[5]" LOC = M9;
#NET "indata[6]" IOSTANDARD = LVCMOS33 | PULLDOWN;
#NET "indata[6]" SLEW = FAST;
#NET "indata[6]" DRIVE = 8;
#NET "indata[6]" LOC = L10;
#NET "indata[7]" IOSTANDARD = LVCMOS33 | PULLDOWN;
#NET "indata[7]" SLEW = FAST;
#NET "indata[7]" DRIVE = 8;
#NET "indata[7]" LOC = R14;
#NET "indata[8]" IOSTANDARD = LVCMOS33 | PULLDOWN;
#NET "indata[8]" SLEW = FAST;
#NET "indata[8]" DRIVE = 8;
#NET "indata[8]" LOC = P5; # IO1N
#NET "indata[9]" IOSTANDARD = LVCMOS33 | PULLDOWN;
#NET "indata[9]" SLEW = FAST;
#NET "indata[9]" DRIVE = 8;
#NET "indata[9]" LOC = N6; # IO2N
#NET "indata[10]" IOSTANDARD = LVCMOS33 | PULLDOWN;
#NET "indata[10]" SLEW = FAST;
#NET "indata[10]" DRIVE = 8;
#NET "indata[10]" LOC = M7;
#NET "indata[11]" IOSTANDARD = LVCMOS33 | PULLDOWN;
#NET "indata[11]" SLEW = FAST;
#NET "indata[11]" DRIVE = 8;
#NET "indata[11]" LOC = T8;
#NET "indata[12]" IOSTANDARD = LVCMOS33 | PULLDOWN;
#NET "indata[12]" SLEW = FAST;
#NET "indata[12]" DRIVE = 8;
#NET "indata[12]" LOC = T9;
#NET "indata[13]" IOSTANDARD = LVCMOS33 | PULLDOWN;
#NET "indata[13]" SLEW = FAST;
#NET "indata[13]" DRIVE = 8;
#NET "indata[13]" LOC = N8;
#NET "indata[14]" IOSTANDARD = LVCMOS33 | PULLDOWN;
#NET "indata[14]" SLEW = FAST;
#NET "indata[14]" DRIVE = 8;
#NET "indata[14]" LOC = M10;
#NET "indata[15]" IOSTANDARD = LVCMOS33 | PULLDOWN;
#NET "indata[15]" SLEW = FAST;
#NET "indata[15]" DRIVE = 8;
#NET "indata[15]" LOC = T15;

# === VGA port ===
NET "VGA_HSYNC"    LOC = D11 | IOSTANDARD = LVCMOS33;
NET "VGA_VSYNC"    LOC = E11 | IOSTANDARD = LVCMOS33;
NET "VGA_RED<0>"   LOC = B10 | IOSTANDARD = LVCMOS33;
NET "VGA_RED<1>"   LOC = A10 | IOSTANDARD = LVCMOS33;
NET "VGA_RED<2>"   LOC = C11 | IOSTANDARD = LVCMOS33;
NET "VGA_GREEN<0>" LOC = A11 | IOSTANDARD = LVCMOS33;
NET "VGA_GREEN<1>" LOC = B12 | IOSTANDARD = LVCMOS33;
NET "VGA_GREEN<2>" LOC = A12 | IOSTANDARD = LVCMOS33;
NET "VGA_BLUE<0>"  LOC = C13 | IOSTANDARD = LVCMOS33;
NET "VGA_BLUE<1>"  LOC = A13 | IOSTANDARD = LVCMOS33;

# switch
NET "switch"         LOC = "K14"  | IOSTANDARD = LVTTL | PULLDOWN;

# TMS99105 #RD and #WE/#IOCLK
# #RD = PMOD2-IO3 "B8"
# #WE = PMOD2-IO1 "A8"
NET "MEM_n_ext"		LOC = "B8" | IOSTANDARD = LVCMOS33;
# NET "RD_n"			LOC = "B8" | IOSTANDARD = LVCMOS33;
NET "WE_n_ext"			LOC = "A8" | IOSTANDARD = LVCMOS33;

# Debugging pins (PS2 keyboard port)
# Actually taken into real use.
NET "DEBUG2"	LOC = "C9" | IOSTANDARD = LVCMOS33; # PMOD2-IO4 (pin 5)
NET "DEBUG1"	LOC = "A9" | IOSTANDARD = LVCMOS33; # PMOD2-IO2 (pin 1)


# audio
NET "AUDIO_L"      LOC = "K15"| IOSTANDARD = LVCMOS33;
NET "AUDIO_R"      LOC = "K16"| IOSTANDARD = LVCMOS33;


## Add jitter uncertainy to clock...
SYSTEM_JITTER = 0.2 ns;

