_ngo/
_xmsgs/
ep994a.bgn
ep994a.bld
ep994a.cmd_log
ep994a.drc
ep994a.gise
ep994a.lso
ep994a.ncd
ep994a.ngc
ep994a.ngd
ep994a.ngr
ep994a.pad
ep994a.par
ep994a.pcf
ep994a.prj
ep994a.ptwx
ep994a.stx
ep994a.syr
ep994a.twr
ep994a.twx
ep994a.unroutes
ep994a.ut
ep994a.xpi
ep994a.xst
ep994a_bitgen.xwbt
ep994a_envsettings.html
ep994a_guide.ncd
ep994a_map.map
ep994a_map.mrp
ep994a_map.ncd
ep994a_map.ngm
ep994a_map.xrpt
ep994a_ngdbuild.xrpt
ep994a_pad.csv
ep994a_pad.txt
ep994a_par.xrpt
ep994a_summary.xml
ep994a_usage.xml
ep994a_xst.xrpt
par_usage_statistics.html
pepiserial_summary.html
usage_statistics_webtalk.html
webtalk.log
webtalk_pn.xml
xlnx_auto_0_xdb/
xst/
legacy-bits/
.DS_Store
planAhead_run_1/
tb_tms9900_isim_beh.exe
tb_tms9900_isim_beh.wdb
tb_tms9900_isim_beh1.wdb
